<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg_form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test_graph_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">


    {% if title %}
        <title> {{title}}</title>
    {% else %}
        <title> Guest</title>
    {% endif %}
</head>

<body id="base-body-main">
    <div id="page-container">
    <header id="base-header-container">
        <nav id="base-header-wrapper" style="width: 100%; ">
            <ul id="base-header-list">

                <div class="logo-image-container">
                    <img id="batHoleLogo" src="{{ url_for('static', filename='images/batOnly.png') }}" 
                        data-alternate-src="{{ url_for('static', filename='images/blackBatHoleNoBG.png') }}" 
                        data-src="{{ url_for('static', filename='images/batOnly.png') }}"
                         alt="main_ecko_logo">
                </div>
                <div class="nav_main_text_group">
                    <li><a class="header-list-text-main" href="{{ url_for('about') }}">About us</a></li>
                    <li><a class="header-list-text-main" href="{{ url_for('home_page') }}">Home Page</a></li>
                    <li><a class="header-list-text-main" href="{{ url_for('index') }}">Ekho Forums</a></li>
                    <li><a class="header-list-text-main" href="{{ url_for('help_page') }}#top">Tutorials</a></li>
                    <li><a class="header-list-text-main" href="{{ url_for('quiz') }}#top">Quiz</a></li>
                </div>

                <div class="user_sign_in_up_button_group">
                    {% if current_user.is_anonymous %}
                    <li><a class="header-list-text sign_in_button_header" href="{{ url_for('login') }}">Sign in</a></li>
                    <li><a class="header-list-text sign_up_button_header" href="{{ url_for('register') }}">Sign up</a></li>
                    {% else %}
                    <li class="header-list-text">Hello {{ current_user.username }}!</li>
                    <li><a class="header-list-text" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
    </header>
    <div class="warning_message_container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li id="user_message_error" >{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
           
    </div>

    <!-- The 'block' control statement define the place where derived templates can be inserted-->
     <main style="flex: 1; margin-top: 5em;" >
        {% block content %}{% endblock %} 
     </main>  
     
     <hr style="margin-top: 10em;" id="main-page-footer-divider-tag">

    <footer  >
        <div class="footer-main">
            <div class="footer-main-upper-information">
                <div id="ecko-logo-footer" style="padding-top: 1em;">
                    <img srcset="{{ url_for('static', filename='images/ecko_logo.png')}}" alt="ecko_logo">
                </div>
                <div class="product-footer-grid-section footer-info">
                    <p class="footer-info-title">Product</p>
                    <p>Features</p>
                    <p>Pricing Plans</p>
                </div>
                <div class="resource-footer-grid-section footer-info">
                    <p class="footer-info-title">Resource</p>
                    <a class="header-list-text" href="{{ url_for('help_page') }}">Contact</a>
                    <p>User Guide</p>
                    <p>Terms of User</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="company-footer-grid-section footer-info">
                    <p class="footer-info-title">Company</p>
                    <a class="header-list-text" href="{{ url_for('about') }}">About Us</a>
                    
                </div>
                <div id="subscription-footer-grid-section-container">
                    <div>
                    <p>Subscribe to our newsletter</p>
                    <p style="margin-top: -1em; margin-bottom: 2em;">To keep up with the latest Vulnerability trends</p>
                    </div>

                    <form id="footer-user-subscription">
                        <input placeholder="Input Your Email">
                        <button> Subscribe</button>
                    </form>
                </div>

            </div>
            <div class="footer-main-lower-informatinon">    
               <p class="ecko-slogan-tag">Vulnerability Dectection that resonates</p>
               <div class="footer-bottom-section">
                <div style="color: #010024">dontremove</div>
                <p style="color:#7b8391; font-size: xx-small;">Established 1579</p>
                <div class="social-media-svg-container">
                    <picture class="social-media-icon facebook">
                        <source srcset="https://img.icons8.com/color/48/facebook-new.png" type="image/png+xml">
                        <source srcset="{{ url_for('static', filename='images/icon-facebook.svg') }}" type="image/svg+xml">
                        <img width="22" height="22" src="{{ url_for('static', filename='images/icon-facebook.png') }}" alt="Facebook">
                    </picture>
                    <picture class="social-media-icon twitter">
                        <source srcset="https://img.icons8.com/color/48/twitter--v1.png" type="image/png+xml">
                        <source srcset="{{ url_for('static',  filename='images/icon-twitter.png') }}" alt="twitter-icon">
                        <img width="22" height="22" src="{{ url_for('static',  filename='images/icon-twitter.png') }}" alt="twitter--v1"/>
                    </picture>
                    <picture class="social-media-icon linkedin">
                        <source srcset="https://img.icons8.com/color/48/linkedin.png" type="image/png+xml">
                        <souce srcset="{{ url_for('static', filename='images/icon-linkdin.svg' )}}">
                        <img width="22" height="22" src="{{ url_for('static', filename='images/icon-linkdin.svg' )}}" alt="linkedin"/>
                    </picture>
                    <picture class="social-media-icon youtuvbe">
                        <source srcset="https://img.icons8.com/color/48/youtube-play.png" type="image/png+xml">
                        <source srcset="{{ url_for('static', filename='images/icon-youtube.svg') }}">
                        <img width="22" height="22" src="{{ url_for('static', filename='images/icon-linkdin.svg' )}}" alt="youtube-play"/>
                    </picture>
                </div>

               </div> 
            </div>
  
        </div>
    </footer>
    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/help_page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/about.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test_graph_dashboard.js') }}"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.7.3.min.js"></script> <!-- Loads bokeh JS library. Make sure you chek the you dependency verison
    against the script version to see if they mnatch -->

</body>
</html>