{% extends 'base.html' %}

    {% block content %}
        <div class="help_page_main_container">
            <div class="feature-section-container">
                <h1 class="help_text" style="justify-self: center;">Explore Tutorials and learn ECKO's Major Features</h1>
                <div id="tutorial-box-container">
                    <div class="tutorial-box1 tut-box">
                        <picture>
                            <source srcset="{{ url_for('static', filename='images/inbox-guide-image.png' )}}" type="image/png+xml">
                            <img src="{{ url_for('static', filename='images/inbox-guide-image.png' )}}" alt="inbox-image"/>
                        </picture>
                        <p class="box-header-tag help_text">Inbox Guide</p>
                        <p class="box-description  help_text">Learn how to organize emails effectively.<br>Master filters, labels, and shortcuts.</p>
                        <a href="{{ url_for('static',filename='images/gif/cat.gif')}}"><button class="box-star-tut-button">Start Tutorial</button></a>
                    </div>
                    <div class="tutorial-box2 tut-box">
                        <picture>
                            <source srcset="{{ url_for('static', filename='images/calender-tip-image.png' )}}" type="image/png+xml">
                            <img src="{{ url_for('static', filename='images/calender-tip-image.png' )}}" alt="calender-image"/>
                        </picture>
                        <p class="box-header-tag help_text">Calender Tips</p>
                        <p class="box-description help_text">Discover event scheduling techniques.<br>Optimize your calendar usage.</p>
                        <a href="{{ url_for('static',filename='images/gif/cat.gif')}}"><button class="box-star-tut-button">Start Tutorial</button></a>
                    </div>
                    <div class="tutorial-box3 tut-box">
                        <picture>
                            <source srcset="{{ url_for('static', filename='images/group-image.png' )}}" type="image/png+xml">
                            <img src="{{ url_for('static', filename='images/group-image.png' )}}" alt="group-image"/>
                        </picture>
                        <p class="box-header-tag help_text">Groups & Contacts</p>
                        <p class="box-description help_text">Manage contacts and create groups.<br>Enhance collaboration and communication.</p>
                        <a href="{{ url_for('static',filename='images/gif/cat.gif')}}"><button class="box-star-tut-button">Start Tutorial</button></a>
                    </div>  
                </div>
            </div>
            
            <div id="help-section-2-search-container">
                <div class="help-section-2-search-wrapper">
                    <input id="help-search" placeholder="Search...">
                    <div class="section2-text-container">
                        <div class="section2-text-wrapper-1">
                        <h3 class="help_text">Getting Started</h3>
                        <p class="help_text">Product security<br>Article on securing our products</p>
                        </div>
                        <div class="section2-text-wrapper-2">
                            <h3 class="help_text">Best Practices</h3>
                            <p class="help_text">Data protection Policy<br>Policy governing data security measures.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="help-section-3-glossary-container">
                <h2 class="help_text" style="text-align: center;">
                    Glossary
                </h2>
                <div class="glossary-A glossary-text">
                    <h3 class="help_text">A</h3>
                    <p class="help_text">
                         Administrative Security: Precautions taken to manage and mitigate risk within an organization, such as implementing policies and procedures.<br>
                        Anti-Malware: Software designed to detect, prevent, and remove malicious software (malware) from computer systems and networks.<br>
                        Awareness Training: Educational programs aimed at informing employees about security risks and safe practices to protect sensitive information.
                    </p>
                </div>
                <div class="glossary-B glossary-text">
                    <h3 class="help_text">B</h3>
                    <p class="help_text">Biometric: Unique physical or behavioral characteristics used to identify individuals, such as fingerprints, facial recognition, or voice patterns.<br>
                        Blacklist: A list of entities, such as IP addresses or domains, that are prohibited from accessing a system or network due to malicious activity.<br>
                        Blue Team: The internal group responsible for defending an organization's information systems against cyber threats and attacks.
                        
                    </p>

                    
                </div>
                <div class="glossary-C glossary-text">
                    <h3 class="help_text">C</h3>
                    <p class="help_text">Cybersecurity: The practice of protecting computer systems, networks, and data from unauthorized access, attacks, and damage.<br>
                    Credential: A set of information, such as a username and password, used to verify a user's identity and grant access to a system or account.<br>
                    Cloud Security: Measures and protocols implemented to protect data and applications stored in cloud computing environments from cyber threats and unauthorized access.
                </p>
                </div>
            </div>
        </div>


    {% endblock %}