{% extends 'base.html' %}
    {% block content %}

    <h1>Register</h1>
    <form id="reg-form-container" action="" method="post">
        <div id="form-container-wrapper-register">
            <div class="user-register-text-box-container">
                {{ form.hidden_tag() }}
                <div class="user-reg-text-box-container" style="display: flex; flex-direction: column; align-items: center;">
                    {{ form.username(size=20, placeholder='Username') }} 
                    <div class="error_message">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {{ form.email(size=25, placeholder='Enter your email here') }}
                    <div class="error_message">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {{ form.password(size=30, placeholder='password') }}
                    <div class="error_message">
                        {% for error in form.password.errors %}
                            <span style="color: chartreuse;">{{ error }}</span>
                            {% endfor %}
                    </div>
                    {{ form.password_confirm(size=30, placeholder='Confirm your password') }}
                    <div class="error_message">
                        {% for error in form.password_confirm.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                    </div>


                    <div class="site-accept-form-container">
                        {{ form.accept_form }}
                        <p style='display:inline;'>I accept the site's terms and conditions</p>
                     </div>  
                    
                    <p id="reg-submit-button">{{ form.submit() }}</p>
                </div>
            </div>
        </div>
    </form>


    {% endblock %}